{% extends "home/base.html" %} {% block title %}Weather App {% endblock title %}
{% block body %}
<h1>Weather App</h1>
<form method="post">
  <input type="search" name="weather_location" id="weather_location" required />
  <input type="submit" />
</form>
<a href="/clear">clear recent forecast</a>

<div class="card-board">
  {% if data %} {% for item in data%}
  <div class="card">
    <h3>Address</h3>
    <p>{{ item.resolvedAddress }}</p>
    <h3>Temperature</h3>
    <p>{{ item.temp }}{{ units.temp }}</p>
    <h3>Precipitation</h3>
    <p>{{ item.precip }}{{ units.precip }}</p>
    <h3>Humidity</h3>
    <p>{{ item.humidity }}{{ units.humidity }}</p>
    <h3>Windspeed</h3>
    <p>{{ item.windspeed }}{{ units.windspeed }}</p>
    <h3>Description</h3>
    <p>{{ item.description }}</p>
  </div>
  {% endfor %}
</div>
{% elif error_mssg %}
<p>{{ error_mssg }}</p>
{% else %}
<p>Nothing here. Enter a location to get weather forcast.</p>
{% endif %} {% endblock body %}
