body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.forecast-title{
    font-weight: 500;
    text-decoration: underline;
}

.card{
    width: 3rem;
    height: 4rem;
    background-color: blueviolet;
    color: white;
}