body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;
}

.forecast-title{
    font-weight: 500;
    text-decoration: underline;
}

.card{
    background-color: rgb(104, 177, 104);
    padding: 1rem;
}

.card-board{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}